<!-- Estendemos do template base -->
{% extends "website/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
{% if user.is_authenticated %}
  Olá {{ user.username }}!
  <p><a href="{% url 'logout' %}?next=/login/">logout</a></p>
{% else %}
  <p>Você não está logado</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Profissional</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Profissional</code>.
          </p>
          <a href="{% url 'website:cadastra_profissional' %}"
             class="btn btn-primary">
            Novo Profissional
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Profissionais</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Profissionais</code> cadastrados.
          </p>
          <a href="{% url 'website:lista_profissionais' %}"
             class="btn btn-primary">
            Vá para Lista
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Paciente</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Paciente</code>.
          </p>
          <a href="{% url 'website:cadastra_paciente' %}"
             class="btn btn-primary">
            Novo Paciente
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Pacientes</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Pacientes</code> cadastrados.
          </p>
          <a href="{% url 'website:lista_pacientes' %}"
             class="btn btn-primary">
            Vá para Lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
